@page
@model Concert_Tracker.Pages.TicketsModel
@{
    ViewData["Title"] = "Ticket page";
}
<html>
<head>
    <link rel="stylesheet" href="MainStyleSheet.css">
</head>
<body>
    <div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <partial name="Shared/TicketList_Item"/>
                <partial name="Shared/TicketList_Item"/>
                <partial name="Shared/TicketList_Item"/>
                <partial name="Shared/TicketList_Item"/>
                <partial name="Shared/TicketList_Item"/>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</body>
</html>